<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BeachMapper">
	
	 
   <select id="BeachSearch" parameterType="string" resultType="BeachDTO">
     select distinct gugun_nm, sta_nm, lat, lon
     from beachwater
     where sido_nm = #{do}
	</select>

	
</mapper>